/*This is theme.css file */
/*This changes the background color*/
.name {color:black; font-family: Consolas; font-style:italic; text-align: center;}
.xjtlu {position:absolute; right: 150px; top: 20px;}
body {color:#888888; background-color: #F0FFFF; padding: 20px; padding-left: 11em; padding-right: 9em; font-family: Georgia}, "Times New Roman", Times;}
h1 {font-family: Belvetica, Geneva, Arial;}
.ps {color:black; font-size:18px;}
table {border-collapse:collapse; color:black; font-family: Sans-serif Helvetica, Arial, Georgia;}
caption{font-size: larger; margin:1em auto;}
th,td{padding:0.75em;}
td{text-align:center;}